

body{
    margin:0;
   box-sizing: border-box;
   background: linear-gradient(to left bottom, 
   lightblue, lightpink, lightblue);
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: monospace;
}

.container{
background-color: rgba(255,255,255, .3);
border-radius: 10px;
padding: 20px;
box-shadow: 0 6px 10px rgba(0,0,0, .3);
width: 60%;
text-align: center;
color: darkgreen;
}

.heading{
font-size: 35px;
font-weight: 200;
font-family: Impact;
letter-spacing: 3px;
}

.joke{
font-size: 25px;
margin: 40px;
font-weight: 500;
color: rgb(26, 26, 26);
}

.btn{
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    text-transform: uppercase;
    width: 200px;
    color: darkgreen;
    border: none;
}

.btn:hover{
background-color: rgba(255,255,255, .5);
box-shadow: 0 4px 4px rgba(0,0,0,.3);
transition: all 300ms ease;
border: 2px solid darkgreen;
}