body{
    margin: 0;
    display: flex;
height: 100vh;
align-items: center;
justify-content: center;
background-color: yellow;
font-family: cursive;
text-align: center;
}

.form{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,.4);
    border-radius: 10px;
    margin: 10px;
}
.input{
    display: block;
width: 100%;box-sizing: border-box;
font-size: 25px;
text-align: center;
padding: 10px;
border: solid 4px green;
color: green;
border-radius: 5px;
}

.input::placeholder{
    color: lightgray;
    font-family: cursive;
}

.btn{
    background-color: green;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: darkgreen;
}

.score{
    color: green;
    text-align: right;
}