body{
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container{
text-align: center;
}
h1{
color: darkblue;
text-transform: uppercase;
font-weight: 900;
}
h2{
font-size: 40px;
}

.btn{
padding: 10px 20px;
border: 0;
font-size: 20px;
font-weight: bold;
border-radius: 8px;
cursor: pointer;
color: white;
}

.reset{
    margin: 0 20px;
   
    background: black;
}

.increase{
  background-color: green;
}

.decrease{
   background-color: red;
}